
{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer une utilisateur - {{ parent() }}
{% endblock %}

{% block sruser_body %}

    <h2>Supprimer un utilisateur</h2>

    <p>
        Etes-vous certain de vouloir supprimer "{{ user.name }}" ?
    </p>

    {# On met l'id du user dans la route de l'action du formulaire #}
    <form action="{{ path('sr_user_delete', {'id': user.id}) }}" method="post">
        <a href="{{ path('sr_user_view', {'id': user.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste des utilisateurs
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}