<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Manwell Blog{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
        <link rel="stylesheet" href="{{ asset('bundles/srblog/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/srblog/css/integration.css') }}" />

    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <h1><a href="{{ path('sr_article_home') }}">Manwell</a></h1>
            <nav class="links">
                <ul>
                    <li class="desk">
                        <a href="{{ path('sr_article_add') }} ">Ajouter un article</a>
                    </li>
                    <li class="add">
                        <a href="{{ path('sr_article_add') }}" class="mobil"></a>
                    </li>
                    <li class="desk">
                        <a href="{{ path('sr_article_homepage') }}" >Voir tous les articles</a>
                    </li>
                    <li class="list">
                        <a href="{{ path('sr_article_homepage') }}" class="mobil"></a>
                    </li>
                </ul>
            </nav>

            <nav class="main">
                <ul>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>
    <!-- Menu -->
        <section id="menu">
            <!-- Links -->
            <section>
                <ul class="actions vertical">
                    <li><a href="{{ path('login') }}" class="button big fit">Log In</a></li>
                </ul>
                    {% if is_granted('ROLE_USER') %}
                <ul class="actions vertical">
                    <li><a href="{{ path('logout') }}" class="button big fit">Log Out</a></li>
                </ul>
                <ul class="actions vertical">
                    <li><a href="{{ path('sr_user_edit', {'id': app.user.id})  }}" class="button big fit">Modifier mon Profil</a></li>
                </ul>


                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                <ul class="actions vertical">
                    <li><a href="{{ path('sonata_admin_dashboard') }}" class="button big fit">Back-Office</a></li>
                </ul>
                {% endif %}
            </section>
            <!-- Actions -->
        </section>



            <div id="main">
                {% block body %}
                {% endblock %}
            </div>



    {{ render(controller('SRBlogBundle:Article:menu', {'limit':3})) }}


    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
        {#<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>#}
        <!-- Scripts -->
        <script src="{{ asset('bundles/srblog/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/srblog/js/skel.min.js') }}"></script>
        <script src="{{ asset('bundles/srblog/js/util.js') }}"></script>
        <!--[if lte IE 8]><script src="{{ asset('bundles/srblog/js/ie/respond.min.js') }}></script><![endif]-->
        <script src="{{ asset('bundles/srblog/js/main.js') }}"></script>

    {% endblock %}

    </div>
</body>
</html>