<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SR Blog{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/srblog/css/main.css') }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>

<div id="sidebar">
    <!-- Logo -->
    <h1 id="logo"><a href="{{ path('sr_article_home') }}">MANWELL</a></h1>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{{ path('sr_article_add') }}">Ajouter un Article</a></li>
            <li><a href="{{ path('sr_article_homepage') }}">Voir tous les articles parus</a></li>
        </ul>
    </nav>

    <!-- Recent Posts -->
    <section class="box recent-posts">
        <header>
            <h2>Articles Récents</h2>
        </header>
        <ul>
            {{ render(controller("SRBlogBundle:Article:menu", {'limit': 3})) }}
        </ul>
    </section>

    <!-- Recent Comments -->
    <section class="box recent-comments">
        <header>
            <h2>Login</h2>
        </header>
        <ul>
            <li><a href="{{ path('login') }}">Login</a></li>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% endif %}

            <li><a href="{{ path('sr_user_add') }}">Sign Up</a></li>
            {% if is_granted('ROLE_ADMIN') %}


                <li><a href="{{ path('sonata_admin_dashboard') }}">Accés au Back Office</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Ma plateforme de Blog</h1>


    </div>

    <div class="row">


        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>


    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond. By Manwell</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>