{% extends "SRBlogBundle::layout.html.twig" %}



{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block srarticle_body %}

    <div class="row">

    <div class="6u 12u$(medium)">
        <h2>Liste des articles publiés</h2>
            {% for article in listArticles %}
                {% if article.published == 1 %}
                    <ul>
                        <li>
                            <a href="{{ path('sr_article_view', {'id': article.id}) }}">
                                {{ article.title }}
                            </a>
                            par {{ article.user.username }},
                            le {{ article.date|date('d/m/Y') }}
                        </li>

                    </ul>
                {% endif %}
                {% endfor %}
        </div>
                </div>



    {% if is_granted('ROLE_USER')  %}
            <h2>Article non publiés</h2>
                <div class="row">
                    <div class="6u 12u$(medium)">
                        {% for article in listArticles %}
                            {% if article.published != 1 %}
                                {% if  is_granted('ROLE_ADMIN') or app.user.id == article.user.id %}
                                <ul>
                                <li>
                                    <a href="{{ path('sr_article_view', {'id': article.id}) }}">
                                        {{ article.title }}
                                    </a>
                                    par {{ article.user.username }},
                                    le {{ article.date|date('d/m/Y') }}
                                </li>
                                </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

        {% endif %}







        {#{% if article == null %}#}
            {#<li>Pas (encore !) d'articles</li>#}
        {#{% endif %}#}



{% endblock %}