{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block srarticle_body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ article.title }}</h3>
            <i>Ecrit par <strong>{{ article.user.username }}</strong>,</i>
            <i>le {{ article.date|date('d/m/Y') }}</i>
        </div>
        <div class="panel-body">
            {{ article.content }}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') or (app.user is not null and app.user.id == article.user.id) %}


                <p>
                    <a href="{{ path('sr_article_edit', {'id': article.id}) }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                        Modifier l'article
                    </a>
                    <a href="{{ path('sr_article_delete', {'id': article.id}) }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Supprimer l'article
                    </a>
                </p>

    {% endif %}

    <h3>Commentaires</h3>


            {% for comment in article.comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comment.user.username }}</strong>:
                    </div>
                     <div class="panel-body">
                     {{ comment.content }}
                    </div>
                </div>
             {% else %}

             <div class="panel panel-default">
                 <div class="panel-heading">
                    Aucun commentaires pour le moment! Soyez le premier à en écrire un!
                </div>
             </div>

    {% endfor %}

    {% if article.published != 1 %}
article encore au brouillon
    {% else %}

    {% if is_granted('ROLE_ADMIN') or (app.user is not null )%}

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {{ form_label(form.content, "Ajouter votre commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {{ form_errors(form.content) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>

                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}

                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
        </div>

    {% endif %}




        {#{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}#}
        {#<div class="form-group">#}
        {#{{ form_errors(commentForm.content) }}#}
        {#{{ form_widget(commentForm.content, { 'attr':  {#}
        {#'rows': '4',#}
        {#'class': 'form-control',#}
        {#'placeholder': 'Enter your comment'#}
        {#}}) }}#}
        {#</div>#}
        {#<div class="form-group">#}
        {#<input type="submit" class="btn btn-primary" value="Publish comment" />#}
        {#</div>#}
        {#{{ form_end(form, {'attr': {'class': 'form-horizontal'}}) }}#}


    {% if app.user is null %}


        <div class="well panel panel-default">
            <div class="panel panel-heading">
                  pour ajouter un commentaire veuillez vous logger!!
            </div>
        </div>
    {% endif %}
    {% endif %}

{% endblock %}