{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block srarticle_body %}

<article class="post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <header>
            <div class="title">
                <h3>{{ article.title }}</h3>
            </div>
            <div class="meta">
                <span class="name">Ecrit par <strong>{{ article.user.username }}</strong></span>
                    <time class="published"> le {{ article.date|date('d/m/Y') }}</time>
            </div>
        </header>
            <p>
                {{ article.content }}
            </p>



        {% if is_granted('ROLE_ADMIN') or (app.user is not null and app.user.id == article.user.id) %}
            <ul class="actions fit">
                <li>
                    <a href="{{ path('sr_article_edit', {'id': article.id}) }}" class="button fit">
                        <i class="glyphicon glyphicon-edit"></i>
                        Modifier votre article
                    </a>
                </li>
                <li>
                    <a href="{{ path('sr_article_delete', {'id': article.id}) }}" class="button fit delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        Supprimer votre article
                    </a>
                </li>
            </ul>
        {% endif %}

    <h3>Commentaires</h3>

    <div class="table-wrapper">
         <table>
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Commentaire</th>
            </tr>

    </thead>
    <tbody></tbody>
        {% for comment in article.comments %}
            <tr>
                <td>
                    <strong>{{ comment.user.username }}</strong>:
                </td>
                <td>
                     {{ comment.content }}
                </td>
            </tr>
        {% else %}
            <tr>
             <td>
                    Aucun commentaires pour le moment! Soyez le premier à en écrire un!
             </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>

    {% if article.published != 1 %}
        article encore au brouillon
    {% else %}

    {% if is_granted('ROLE_ADMIN') or (app.user is not null )%}

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {{ form_label(form.content, "Ajouter votre commentaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {{ form_errors(form.content) }}

           <div>
                {# Génération de l'input. #}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
           </div>

                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}

                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}


    {% endif %}





        {#{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}#}
        {#<div class="form-group">#}
        {#{{ form_errors(commentForm.content) }}#}
        {#{{ form_widget(commentForm.content, { 'attr':  {#}
        {#'rows': '4',#}
        {#'class': 'form-control',#}
        {#'placeholder': 'Enter your comment'#}
        {#}}) }}#}
        {#</div>#}
        {#<div class="form-group">#}
        {#<input type="submit" class="btn btn-primary" value="Publish comment" />#}
        {#</div>#}
        {#{{ form_end(form, {'attr': {'class': 'form-horizontal'}}) }}#}


    {% if app.user is null %}


        <div class="well panel panel-default">
            <div class="panel panel-heading">
                  pour ajouter un commentaire veuillez vous logger!!
            </div>
        </div>
    {% endif %}
    {% endif %}

{% endblock %}